:root {
  --primario: #9e0000;
  --secundario: #02023d;
}

/* Globales */

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

h1,h2,h3,h4 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img {
  max-width: 100%;
}

.contenedor {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}


/* Header */

.header {
  background-color: var(--primario);
  color: #fff;
  max-width: 400px;
  width: 100%;
  margin: 20px auto;
  padding: 40px 20px;
  border-radius: 15px;
}

.header h1,
.header h2,
.header p {
  margin: 0;
  text-align: center;
}

.header p {
  line-height: 1.4;
}

.header .datos-personales {
  padding: 20px;
  background-color: var(--secundario);
  margin-top: 20px;
 
}

/* secciones principal */

.principal {
  text-align: center;
}

.principal section {
  padding: 10px 0;
}

/* .principal section:first-of-type {
  background-color: chocolate;
}

.principal section:nth-child(2) {
  background-color: aquamarine;
}
.principal section:last-of-type {
  background-color: gold;
}
 */

 .principal section:nth-child(odd) {
  background-color: rgb(80, 126, 35);
 }


.section-titulo { 
  color: rebeccapurple;
  text-transform: uppercase;
}

.listas {
  text-align: left;
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
}

/* seccion lateral */

.lateral {
  padding: 30px 0;
}
/* 
.lateral img {
  display: block;
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 100%;
  margin: 0 auto;
} */

.imagen-redonda {
  display: block;
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 100%;
  margin: 0 auto;
}


article {
  text-align: center;
}

/* footer */

.footer {
  background-color: var(--secundario);
  padding: 30px 0;
  color: #fff;
  text-align: center;
}

 .footer a {
  color: #fff;
  text-decoration: none;
  transition: 0.6s ease all;
  /* transition: .5s ease all; */
}

 .footer a:hover {
  color: chartreuse;
  text-decoration: underline;
}  